<%- include("partials/head") %>
    <h1 id="image">Image</h1>
    <h2 id="responsive-image">Responsive image</h2>
    <div class="component__container">
        <div style="width: 300px; border-radius: var(--border-radius-sm); overflow: hidden;">
            <img class="responsive-img" src="https://picsum.photos/300" alt="">
        </div>
    </div>
    <pre><code class="language-html">&lt;img class=&quot;responsive-img&quot; src=&quot;https://picsum.photos/300&quot; alt=&quot;&quot;&gt;</code></pre>
    <hr>
    <h2 id="round-image">Round image</h2>
    <div class="component__container">
        <img class="round-img" src="https://picsum.photos/300" alt="">
    </div>
    <pre><code class="language-html">&lt;img class=&quot;round-img&quot; src=&quot;https://picsum.photos/300&quot; alt=&quot;&quot;&gt;</code></pre>
    </article>
    </section>
    <nav class="sidebar sidebar__two">
        <details open>
            <summary>on this page</summary>
            <ul class="menu__items">
                <li class="menu__item"><a class="menu__link" href="#image">Image</a></li>
                <li class="menu__item"><a class="menu__link" href="#responsive-image">Responsive image</a></li>
                <li class="menu__item"><a class="menu__link" href="#round-image">Round Image</a></li>
            </ul>
        </details>
    </nav>
    </main>
    <%- include("partials/foot") %>