<%- include("partials/head") %>
    <h1 id="grid">Grid</h1>
    <h2 id="2-column-grid">2 Column grid</h2>
    <div class="grid-col-2">
        <div>
            <p class="text-xl">Grid column 1</p>
            <p>“Whenever you feel like criticizing anyone,” he told me, “just
                remember that all the people in this world haven't had the advantages
                that you've had.”</p>
        </div>
        <div>
            <p class="text-xl">Grid column 2</p>
            <p>“Whenever you feel like criticizing anyone,” he told me, “just
                remember that all the people in this world haven't had the advantages
                that you've had.”</p>
        </div>
    </div>
    <pre><code class="language-html">&lt;div class=&quot;grid-col-2&quot;&gt;
    &lt;div&gt;
        &lt;p class=&quot;text-xl&quot;&gt;Grid column 1&lt;/p&gt;
        &lt;p&gt;&ldquo;Whenever you feel like criticizing anyone,&rdquo; he told me, &ldquo;just
        remember that all the people in this world haven't had the advantages
        that you've had.&rdquo;&lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;p class=&quot;text-xl&quot;&gt;Grid column 2&lt;/p&gt;
        &lt;p&gt;&ldquo;Whenever you feel like criticizing anyone,&rdquo; he told me, &ldquo;just
        remember that all the people in this world haven't had the advantages
        that you've had.&rdquo;&lt;/p&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
    <hr>
    <h2 id="3-column-grid">3 Column grid</h2>
    <div class="grid-col-3">
        <div>
            <p class="text-xl">Grid column 1</p>
            <p>“Whenever you feel like criticizing anyone,” he told me, “just
                remember that all the people in this world haven't had the advantages
                that you've had.”</p>
        </div>
        <div>
            <p class="text-xl">Grid column 2</p>
            <p>“Whenever you feel like criticizing anyone,” he told me, “just
                remember that all the people in this world haven't had the advantages
                that you've had.”</p>
        </div>
        <div>
            <p class="text-xl">Grid column 3</p>
            <p>“Whenever you feel like criticizing anyone,” he told me, “just
                remember that all the people in this world haven't had the advantages
                that you've had.”</p>
        </div>
    </div>
    <pre><code class="language-html">&lt;div class=&quot;grid-col-3&quot;&gt;
    &lt;div&gt;
        &lt;p class=&quot;text-xl&quot;&gt;Grid column 1&lt;/p&gt;
        &lt;p&gt;&ldquo;Whenever you feel like criticizing anyone,&rdquo; he told me, &ldquo;just
        remember that all the people in this world haven't had the advantages
        that you've had.&rdquo;&lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;p class=&quot;text-xl&quot;&gt;Grid column 2&lt;/p&gt;
        &lt;p&gt;&ldquo;Whenever you feel like criticizing anyone,&rdquo; he told me, &ldquo;just
        remember that all the people in this world haven't had the advantages
        that you've had.&rdquo;&lt;/p&gt;
    &lt;/div&gt;
    &lt;div&gt;
        &lt;p class=&quot;text-xl&quot;&gt;Grid column 3&lt;/p&gt;
        &lt;p&gt;&ldquo;Whenever you feel like criticizing anyone,&rdquo; he told me, &ldquo;just
        remember that all the people in this world haven't had the advantages
        that you've had.&rdquo;&lt;/p&gt;
        &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </article>
    </section>
    <nav class="sidebar sidebar__two">
        <details open>
            <summary>on this page</summary>
            <ul class="menu__items">
                <li class="menu__item"><a class="menu__link" href="#grid">Grid</a></li>
                <li class="menu__item"><a class="menu__link" href="#2-column-grid">2 column grid</a></li>
                <li class="menu__item"><a class="menu__link" href="#3-column-grid">3 column grid</a></li>
            </ul>
        </details>
    </nav>
    </main>
    <%- include("partials/foot") %>