<%- include("partials/head") %>
    <h1 id="badge">Badge</h1>
    <p>Badge component can be used to draw users attention and show additional information like
        <span class="example-in-article">number of notifications, number of friend requests etc.</span>
    </p>
    <h2 id="badge-on-avatar">Badge on avatar</h2>
    <div class="component__container">
        <div class="badge">
            <img src="https://picsum.photos/72" alt="" class="avatar-xs">
            <p class="badge-xs badge-primary">10+</p>
        </div>
        <div class="badge">
            <img src="https://picsum.photos/72" alt="" class="avatar-sm">
            <p class="badge-sm badge-secondary">10+</p>
        </div>
        <div class="badge">
            <img src="https://picsum.photos/72" alt="" class="avatar-md">
            <p class="badge-md badge-success">10+</p>
        </div>
        <div class="badge">
            <img src="https://picsum.photos/72" alt="" class="avatar-lg">
            <p class="badge-lg badge-caution">10+</p>
        </div>
        <div class="badge">
            <img src="https://picsum.photos/72" alt="" class="avatar-xl">
            <p class="badge-xl badge-error">10+</p>
        </div>
    </div>
    <div class="component__container">
        <div class="badge">
            <img src="https://picsum.photos/72" alt="" class="avatar-round-xs">
            <p class="badge-xs badge-primary">10+</p>
        </div>
        <div class="badge">
            <img src="https://picsum.photos/72" alt="" class="avatar-round-sm">
            <p class="badge-sm badge-secondary">10+</p>
        </div>
        <div class="badge">
            <img src="https://picsum.photos/72" alt="" class="avatar-round-md">
            <p class="badge-md badge-success">10+</p>
        </div>
        <div class="badge">
            <img src="https://picsum.photos/72" alt="" class="avatar-round-lg">
            <p class="badge-lg badge-caution">10+</p>
        </div>
        <div class="badge">
            <img src="https://picsum.photos/72" alt="" class="avatar-round-xl">
            <p class="badge-xl badge-error">10+</p>
        </div>
    </div>
    <pre><code class="language-html">&lt;div class=&quot;badge&quot;&gt;
    &lt;img src=&quot;https://picsum.photos/72&quot; alt=&quot;&quot; class=&quot;avatar-xs&quot;&gt;
    &lt;p class=&quot;badge-xs badge-primary&quot;&gt;10+&lt;/p&gt;
&lt;/div&gt;
&lt;div class=&quot;badge&quot;&gt;
    &lt;img src=&quot;https://picsum.photos/72&quot; alt=&quot;&quot; class=&quot;avatar-round-xs&quot;&gt;
    &lt;p class=&quot;badge-xs badge-primary&quot;&gt;10+&lt;/p&gt;
&lt;/div&gt;</code></pre>
    <hr>
    <h2 id="badge-on-icon">Badge on icon</h2>
    <p>Badge with different background-color can be achieved by using following classes:</p>
    <ul>
        <li>badge-primary</li>
        <li>badge-secondary</li>
        <li>badge-success</li>
        <li>badge-caution</li>
        <li>badge-error</li>
    </ul>
    <div class="component__container">
        <div class="badge">
            <svg class="badge-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M22 17H2a3 3 0 0 0 3-3V9a7 7 0 0 1 14 0v5a3 3 0 0 0 3 3zm-8.27 4a2 2 0 0 1-3.46 0"></path>
            </svg>
            <p class="badge-md badge-error">10+</p>
        </div>
        <div class="badge">
            <svg class="badge-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
            </svg>
            <p class="badge-md badge-primary">10+</p>
        </div>
        <div class="badge">
            <svg class="badge-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path>
                <polyline points="22,6 12,13 2,6"></polyline>
            </svg>
            <p class="badge-md badge-success">10+</p>
        </div>
        <div class="badge">
            <svg class="badge-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="10" cy="20.5" r="1" />
                <circle cx="18" cy="20.5" r="1" />
                <path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1" />
            </svg>
            <p class="badge-md badge-caution">10+</p>
        </div>
    </div>
    <pre><code class="language-html">&lt;div class=&quot;badge&quot;&gt;
    &lt;svg class=&quot;badge-icon&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;24&quot;
    height=&quot;24&quot; viewBox=&quot;0 0 24 24&quot;
    fill=&quot;none&quot; stroke=&quot;#000000&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot;
    stroke-linejoin=&quot;round&quot;&gt;
    &lt;path d=&quot;M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2&quot;&gt;&lt;/path&gt;
    &lt;circle cx=&quot;12&quot; cy=&quot;7&quot; r=&quot;4&quot;&gt;&lt;/circle&gt;
    &lt;/svg&gt;
    &lt;p class=&quot;badge-md badge-primary&quot;&gt;10+&lt;/p&gt;
&lt;/div&gt;</code></pre>
    </article>
    </section>
    <nav class="sidebar sidebar__two">
        <details open>
            <summary>on this page</summary>
            <ul class="menu__items">
                <li class="menu__item"><a class="menu__link" href="#badge">Badge</a></li>
                <li class="menu__item"><a class="menu__link" href="#badge-on-avatar">Badge on avatar</a></li>
                <li class="menu__item"><a class="menu__link" href="#badge-on-icon">Badge on icon</a>
                </li>
            </ul>
        </details>
    </nav>
    </main>
    <%- include("partials/foot") %>