<%- include("partials/head") %>
    <h1 id="rating">Rating</h1>
    <div class="component__container">
        <div class="star-rating d-flex flex-align-center flex-justify-evenly">
            <input type="radio" name="stars" id="star-a" value="5" />
            <label for="star-a"></label>

            <input type="radio" name="stars" id="star-b" value="4" />
            <label for="star-b"></label>

            <input type="radio" name="stars" id="star-c" value="3" />
            <label for="star-c"></label>

            <input type="radio" name="stars" id="star-d" value="2" />
            <label for="star-d"></label>

            <input type="radio" name="stars" id="star-e" value="1" />
            <label for="star-e"></label>
        </div>
    </div>
    <pre><code class="language-html">&lt;div class=&quot;star-rating d-flex flex-align-center flex-justify-evenly&quot;&gt;
    &lt;input type=&quot;radio&quot; name=&quot;stars&quot; id=&quot;star-a&quot; value=&quot;5&quot; /&gt;
    &lt;label for=&quot;star-a&quot;&gt;&lt;/label&gt;
    
    &lt;input type=&quot;radio&quot; name=&quot;stars&quot; id=&quot;star-b&quot; value=&quot;4&quot; /&gt;
    &lt;label for=&quot;star-b&quot;&gt;&lt;/label&gt;
    
    &lt;input type=&quot;radio&quot; name=&quot;stars&quot; id=&quot;star-c&quot; value=&quot;3&quot; /&gt;
    &lt;label for=&quot;star-c&quot;&gt;&lt;/label&gt;
    
    &lt;input type=&quot;radio&quot; name=&quot;stars&quot; id=&quot;star-d&quot; value=&quot;2&quot; /&gt;
    &lt;label for=&quot;star-d&quot;&gt;&lt;/label&gt;
    
    &lt;input type=&quot;radio&quot; name=&quot;stars&quot; id=&quot;star-e&quot; value=&quot;1&quot; /&gt;
    &lt;label for=&quot;star-e&quot;&gt;&lt;/label&gt;
&lt;/div&gt;</code></pre>
    </article>
    </section>
    <nav class="sidebar sidebar__two">
        <details open>
            <summary>on this page</summary>
            <ul class="menu__items">
                <li class="menu__item"><a class="menu__link" href="#rating">Rating</a></li>
            </ul>
        </details>
    </nav>
    </main>
    <%- include("partials/foot") %>