<%- include("partials/head") %>
    <h1 id="navigation">Navigation</h1>
    <nav class="top-navigation-component d-flex flex-align-center">
        <div class="left d-flex flex-justify-center">
            logo
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z"></path>
                <line x1="4" y1="22" x2="4" y2="15"></line>
            </svg>
        </div>
        <div class="center">
            <ul class="styled-list d-flex flex-justify-evenly">
                <li>products</li>
                <li>community</li>
                <li>service</li>
                <li>offers</li>
            </ul>
        </div>
        <div class="right d-flex flex-align-center flex-justify-evenly">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="10" cy="20.5" r="1" />
                <circle cx="18" cy="20.5" r="1" />
                <path d="M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1" />
            </svg>
        </div>
    </nav>
    <pre><code class="language-html">&lt;nav class=&quot;top-navigation-component d-flex flex-align-center&quot;&gt;
    &lt;div class=&quot;left d-flex flex-justify-center&quot;&gt;
    logo
        &lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;16&quot; height=&quot;16&quot; viewBox=&quot;0 0 24
        24&quot; fill=&quot;none&quot;
        stroke=&quot;#000000&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot;
        stroke-linejoin=&quot;round&quot;&gt;
            &lt;path d=&quot;M4 15s1-1 4-1 5 2 8 2 4-1 4-1V3s-1 1-4 1-5-2-8-2-4 1-4 1z&quot;&gt;&lt;/path&gt;
            &lt;line x1=&quot;4&quot; y1=&quot;22&quot; x2=&quot;4&quot; y2=&quot;15&quot;&gt;&lt;/line&gt;
        &lt;/svg&gt;
    &lt;/div&gt;
    &lt;div class=&quot;center&quot;&gt;
        &lt;ul class=&quot;styled-list d-flex flex-justify-evenly&quot;&gt;
            &lt;li&gt;products&lt;/li&gt;
            &lt;li&gt;community&lt;/li&gt;
            &lt;li&gt;service&lt;/li&gt;
            &lt;li&gt;offers&lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class=&quot;right d-flex flex-align-center flex-justify-evenly&quot;&gt;
        &lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;24&quot; height=&quot;24&quot; viewBox=&quot;0 0 24
            24&quot; fill=&quot;none&quot;
            stroke=&quot;#000000&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot;
            stroke-linejoin=&quot;round&quot;&gt;
            &lt;circle cx=&quot;11&quot; cy=&quot;11&quot; r=&quot;8&quot;&gt;&lt;/circle&gt;
            &lt;line x1=&quot;21&quot; y1=&quot;21&quot; x2=&quot;16.65&quot; y2=&quot;16.65&quot;&gt;&lt;/line&gt;
        &lt;/svg&gt;
        &lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;24&quot; height=&quot;24&quot; viewBox=&quot;0 0 24
            24&quot; fill=&quot;none&quot;
            stroke=&quot;#000000&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot;
            stroke-linejoin=&quot;round&quot;&gt;
            &lt;path d=&quot;M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2&quot;&gt;&lt;/path&gt;
            &lt;circle cx=&quot;12&quot; cy=&quot;7&quot; r=&quot;4&quot;&gt;&lt;/circle&gt;
        &lt;/svg&gt;
        &lt;svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;24&quot; height=&quot;24&quot; viewBox=&quot;0 0 24
            24&quot; fill=&quot;none&quot;
            stroke=&quot;#000000&quot; stroke-width=&quot;2&quot; stroke-linecap=&quot;round&quot;
            stroke-linejoin=&quot;round&quot;&gt;
            &lt;circle cx=&quot;10&quot; cy=&quot;20.5&quot; r=&quot;1&quot; /&gt;
            &lt;circle cx=&quot;18&quot; cy=&quot;20.5&quot; r=&quot;1&quot; /&gt;
            &lt;path d=&quot;M2.5 2.5h3l2.7 12.4a2 2 0 0 0 2 1.6h7.7a2 2 0 0 0 2-1.6l1.6-8.4H7.1&quot; /&gt;
        &lt;/svg&gt;
    &lt;/div&gt;
&lt;/nav&gt;</code></pre>
    </article>
    </section>
    <nav class="sidebar sidebar__two">
        <details open>
            <summary>on this page</summary>
            <ul class="menu__items">
                <li class="menu__item"><a class="menu__link" href="#navigation">Navigation</a></li>
            </ul>
        </details>
    </nav>
    </main>
    <%- include("partials/foot") %>